// FAQ PAGE
.faq-title {
    color: $darkred;
    font-family: $inter;
    text-align: center;
    font-weight: bold;
    width: 100%;
    height: 22px;
    padding-top: 120px;
    font-size: 18px;
    margin: auto;
}

.faq-container {
    padding-bottom: 35px;
}

.faq-box {
    width: 90%;
    background: rgba(243, 243, 243, 0.5);
    margin: auto;
    height: auto;
    margin-top: 25px;
}

.faq-box a {
    color: rgb(41, 40, 40);
}

.faq-title-content {
    font-family: $inter;
    font-size: 18px;
    color: $darkred;
    padding: $med-padding;
    font-weight: normal;
    padding-bottom: 0px;
}

.faq-content {
    color: #585858;
    font-family: $inter;
    padding: $med-padding;
}

@media screen and (min-width: 425px) {
    .faq-title {
        width: 100%;
        font-size: 23px;
    }

    .faq-title-content {
        font-size: 20px;
    }

    .faq-content {
        font-size: 18px;
    }
}